In [1]:
import pandas as pd

In [2]:
# WE are loading the data
data = pd.read_csv(r'heart.csv')

# Displaying a section of the data
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [3]:
# Separate features and target
X = data.drop("target", axis=1)  # Features
y = data["target"]

In [4]:
# Split the data
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# Check the shape of the splits
print("Training Features Shape:", X_train.shape)
print("Testing Features Shape:", X_test.shape)
print("Training Target Shape:", y_train.shape)
print("Testing Target Shape:", y_test.shape)

Training Features Shape: (820, 13)
Testing Features Shape: (205, 13)
Training Target Shape: (820,)
Testing Target Shape: (205,)

In [5]:
# Check for missing values
print(data.isnull().sum())

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [6]:
# Fill missing values with the column mean (if any)
data.fillna(data.mean(), inplace=True)

In [7]:
# Remove duplicate rows
data.drop_duplicates(inplace=True)

In [8]:
# One-hot encode categorical columns if any (e.g., 'sex', 'cp')
data = pd.get_dummies(data, columns=['sex', 'cp'], drop_first=True)

In [11]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Initialize and train the MLP model
mlp_model = MLPClassifier(hidden_layer_sizes=(100,), max_iter=1000, random_state=42)
mlp_model.fit(X_train, y_train)

# Make predictions
y_pred_mlp = mlp_model.predict(X_test)

# Evaluate the model
print("MLP Accuracy:", accuracy_score(y_test, y_pred_mlp))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_mlp))
print("Classification Report:")
print(classification_report(y_test, y_pred_mlp))

MLP Accuracy: 0.751219512195122
Confusion Matrix:
[[92 10]
 [41 62]]
Classification Report:
              precision    recall  f1-score   support

           0       0.69      0.90      0.78       102
           1       0.86      0.60      0.71       103

    accuracy                           0.75       205
   macro avg       0.78      0.75      0.75       205
weighted avg       0.78      0.75      0.75       205